<% content_for(:header) do %>
    <!-- Custom Fonts -->
    <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Lato"%>
    <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900"%>
    <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Muli"%>
<% end %>

<div>
    <!--Carousel -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
        <% @hot_activities.each.with_index(0) do |activity,index| %>
          <div class="<%= index == 0 ? "item active" : "item"  %>">
            <%= image_tag(activity.cover.url , class:"center-block" ,alt:activity.name) %>
            <div class="carousel-caption">
              <h3><%= link_to activity.name , activity_path(activity) %></h3>
              <p>The atmosphere in Chania has a touch of Florence and Venice.</p>
            </div>
          </div>
        <% end %>
      </div>

      <!-- Left and right controls -->
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>


    <header>
        <div class="container">
            <div class="row">
                <div class="col-sm-7">
                    <div class="header-content">
                        <div class="header-content-inner">
                            <h1>ZAD包含中英翻译、攻略和地图。帮助你能更友好的游玩《塞尔达传说：荒野之息》</h1>
                            <a href="#download" class="btn btn-outline btn-xl page-scroll">开始使用</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="device-wrapper device-container">
                        <div class="device" data-device="iPhone6Plus" data-orientation="portrait" data-color="white">
                            <div class="screen">
                                <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                                <%= image_tag  "demo-screen-1.jpg" , class: "img-responsive", alt: "" %>
                            </div>
                            <div class="button">
                                <!-- You can hook the "home button" to some JavaScript events or just remove it -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <section id="download" class="download bg-primary text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h2 class="section-heading">下载使用帮助您更好的游戏！</h2>
                    <p>你在可以在下面的地址，找到您所需要的版本！</p>
                    <p>安卓3.2版本请在网盘下载</p>
                    <div class="badges">
                        <a class="badge-link" href="https://itunes.apple.com/cn/app/zad-%E5%A1%9E%E5%B0%94%E8%BE%BE%E4%BC%A0%E8%AF%B4%E8%8D%92%E9%87%8E%E4%B9%8B%E6%81%AF%E5%8A%A9%E6%89%8B/id1232505615?mt=8"> <%= image_tag  "app-store-badge.svg" %> </a>
                        <a class="badge-link" href="http://ovxyyjw3z.bkt.clouddn.com/zad_3_0.apk"><%= image_tag  "andorid_online_install.svg" %></a>
                        <a class="badge-link" href="https://pan.baidu.com/s/1WxXP4aq8_dp-FZEc7SX_PA"><%= image_tag  "baidu.svg" %></a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="features" class="features">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="section-heading">
                        <h2>更多功能，更多乐趣</h2>
                        <p class="text-muted">更多的功能介绍，应有尽有!</p>
                        <hr>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="device-wrapper device-container">
                        <div class="device" data-device="iPhone6Plus" data-orientation="portrait" data-color="white">
                            <div class="screen">
                                <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                                <%= image_tag  "demo-screen-2.jpg" , class:"img-responsive" ,alt:"" %>
                            </div>
                            <div class="button">
                                <!-- You can hook the "home button" to some JavaScript events or just remove it -->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="feature-item">
                                    <i class="icon-screen-smartphone text-primary"></i>
                                    <h3>物品翻译</h3>
                                    <p class="text-muted">所有的物品、装备、武器、坐骑的翻译，解决你看不懂的问题</p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="feature-item">
                                    <i class="icon-camera text-primary"></i>
                                    <h3>方便搜索</h3>
                                    <p class="text-muted">不需要输入物品全部名称，仅仅几个字母就可以轻松快捷搜到你想要的</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="feature-item">
                                    <i class="icon-present text-primary"></i>
                                    <h3>地图</h3>
                                    <p class="text-muted">还原游戏里面的地图，你要找的宝物、怪物这里应有尽有</p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="feature-item">
                                    <i class="icon-lock-open text-primary"></i>
                                    <h3>攻略</h3>
                                    <p class="text-muted">任务、武器、神殿攻略。攻略与游戏原本内容分开现实，为了游戏乐趣，谨慎使用攻略</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="cta">
        <div class="cta-content">
            <div class="container">
                <h2>不要犹豫<br>立即使用</h2>
                <!-- <a href="#contact" class="btn btn-outline btn-xl page-scroll">联系我们</a> -->
            </div>
        </div>
        <div class="overlay"></div>
    </section>

    <section id="contact" class="contact bg-primary">
        <div class="container">
            <h2>我们 <i class="fa fa-heart"></i> 新朋友!</h2>
            <h4>如需了解更多，欢迎加入QQ群：638804630</h4>
            <!-- <ul class="list-inline list-social">
                <li class="social-twitter">
                    <a href="#"><i class="fa fa-twitter"></i></a>
                </li>
                <li class="social-facebook">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                </li>
                <li class="social-google-plus">
                    <a href="#"><i class="fa fa-google-plus"></i></a>
                </li>
            </ul> -->
        </div>
    </section>

    <footer>
        <div class="container">
            <p>&copy; 2017 ZAD. All Rights Reserved.</p>
            <ul class="list-inline">
                <li>
                    <a href="#">Privacy</a>
                </li>
                <li>
                    <a href="#">Terms</a>
                </li>
                <li>
                    <a href="#">FAQ</a>
                </li>
            </ul>
        </div>
    </footer>

</div>

