<div class="col-md-9">
  <%= form_for @user , url: users_information_path(@user,format: :html) , html:{ method: :put ,enctype:  "multipart/form-data" } do |f| %>

   <div class="form-group">
    <%= f.label :nick %> 
    <%= f.text_field :nick ,autofocus: true , class:"form-control" %>
   </div> 


   <div class="form-group">
    <%= f.label :avatar %>
    <%= f.file_field :avatar %>
    <%= f.hidden_field :avatar_cache %>
   </div>


   <div class="form-group">
      <%= f.label :birthday %>
      <div class="input-group datetimepicker">
      <%= f.text_field :birthday, class:"form-control"%>
      <span class="input-group-addon">
          <span class="glyphicon glyphicon-calendar"></span>
          </span>
      </div>
   </div>


   <div class="form-group">
    <%= f.label :sex , for: :user_sex %> 
    <%= f.select(:sex, [t(:man) , t(:woman)],{}, class:"form-control") %>
   </div>



   <div class="form-group">
    <%= f.label :qq_number  %> 
    <%= f.text_field :qq_number ,autofocus: true , class:"form-control" %>
   </div>


   <div class="form-group">
    <%= f.label :phone %> 
    <%= f.text_field :phone ,autofocus: true , class:"form-control" %>
   </div>


   <div class="form-group">
    <%= f.label :home_address %> 
    <%= f.text_field :home_address ,autofocus: true , class:"form-control" %>
   </div>

   <div class="form-group">
    <%= f.label :signature %> 
    <%= f.text_area :signature ,autofocus: true , class:"form-control" , "data-provide" => "markdown" , "rows" => "5" %>
   </div>


   <div class="form-group">
    <%= f.label :intro %> 
    <%= f.text_area :intro ,autofocus: true , class:"form-control" , "data-provide" => "markdown" , "rows" => "5" %>
   </div>

   <%= f.submit t(:update_user_info), :disable_with => 'ing...' ,:class => "btn btn-primary col-md-4 col-md-offset-4" %>
    
  <% end %>
</div>
<!--avatar and actions panel-->
<div class="col-md-3">
  <div class="side-bar-scroll">
    <div class="panel panel-default">
     <div class="panel-body">
        <div id="user-info">
          <div class="basic-info">
            <%= image_tag(@user.avatar? ? @user.avatar_url : "avatar/large")  %>  
            <div class="information">
              <div class="nick"> <%= @user.nick %></div>
              <div class="signature"> <%= @user.signature %> </div>
            </div>
          </div>
          <div class="actions">
            <%= link_to t(:favorite_activity), favorite_activity_users_information_index_path, class:"item col-sm-12" %> 
            <%= link_to t(:favorite_bike), favorite_bike_users_information_index_path, class:"item col-sm-12" %> 
            <%= link_to t(:edit_password), edit_user_password_path, class:"item col-sm-12" %>
          </div>
        </div>
     </div> 
    </div>
  </div>
</div>
