<section class="activities">
  <div class="container"> 
    <div class="col-lg-12">
      <!-- search control-->
      <%= form_tag activities_path, :method => 'get' do %>
        <div class="input-group">
          <%= text_field_tag :search, params[:search], class:'form-control'%>
          <span class="input-group-btn">
            <button type="submit" class="btn btn-primary">
              <i class="fa fa-search"></i>
            </button>
          </span>
        </div>
      <% end %>
      <!-- activity list -->
      <%= render "shared/activity_list" , activities: @activities %>
      <div class="text-center">
        <%= will_paginate @collection, renderer: BootstrapPagination::Rails %>
      </div>
      <% if admin? %>
        <!-- side tool bar -->
        <div class="tool-bar">
            <%= link_to '<i class="fa fa-plus" aria-hidden="true">&nbsp create new</i>'.html_safe, new_activity_path , class: "btn btn-default" %>              
        </div>
      <% end %>

    </div>
  </div>
</section>
