<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>GZFun</title>

  <%= yield(:header) %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>
</head>
<body id="page-top">
  <%= render "shared/navigation" %>

  <!--error message -->
  <div>
    <div class='alert-msg'>
      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= alert_type(message_type) %>">
          <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          <%= message %>
        </div>
      <% end %>
    </div>
  </div>

  <% if controller_path.include? "devise" %>
    <section>
      <div class="container">
        <div class="col-md-4 col-md-offset-4">
          <%= yield %>
        </div>
      </div>
    </section>
  <% else %>
    <%= yield %>
  <% end %>

</body>
</html>